h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
}

body{
    background-image: url("../asserts/admin2.avif");
    background-repeat: repeat-y;
    background-size: 1550px 1080px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    background: rgba(255,255,255,0.2);
    width: 1200px;
    height: 400px;
    margin-left: 250px;
    margin-top: 10px;
    border-radius: 20px;
    border:2px solid black;
}


#menu{
    background-color:#383737;
    height:1200px;
    width:200px;
    float:left;
    padding:5px;
    border-radius: 20px;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #383737;
}
  
li a {
    display: block;
    color: #c6c6c6;
    padding: 15px 15px;
    text-decoration: none;
    text-align: center;
}
 
li a:hover {
    background-color: #a29a9a;
    color: rgb(255, 255, 255);
}

#menu{
    background-color:#383737;
    height:1200px;
    width:200px;
    float:left;
    padding:5px;
    border-radius: 20px;
} 

.logout{
    padding-top: 2px;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: bisque;
}

button{
    padding-top: 6px;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    background-color: rgb(138, 116, 116);
}

button:hover{
    background-color: #a29a9a;
    color: rgba(178, 1, 1, 0.636);
}

.font1{
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}

.Profile{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-left: 25px;
}

.Name{
    color: blanchedalmond;
}

.innerh3{
    text-align: center;
    justify-content: center;
    align-items: center;
    color:blanchedalmond;
    backdrop-filter: blur(15px);
    background: rgba(255,255,255,0.2);
    width: 250px;
    height: 200px;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 20px;
    border:2px solid black;
}

.innerImg{
    width: 50px;
    height: 50px;
    margin-right: 50px;
    margin-left: 20px;
}